.ys-t {
  margin: 10px;
  line-height: 24px;
  text-align: right;
}

.ys-t a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  border-bottom: 3px solid #fff;
}

.ys-t .aon {
  color: #488fce;
  border-bottom: 3px solid #488fce;
}

.ys-t a:hover {
  color: #488fce;
}
