.yell{
    background-color: #ffff00;
    display: inline;
}
.newwords dd{
    display: inline-block;
    padding: 0 11px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    margin:5px;
    white-space:nowrap;
    font-size: 12px;


}
.n, .ng, .nl, .nr,
.nr1, .nr2, .nrf, .nrj,
.ns, .nsf, .nt, .nz,.null
{
    background-color: #488fce
}

.t, .tg
{
    background-color: #c7aee7
}

.s {
    background-color: #cee887
}

.f {
    background-color: #c9aaca
}

.v, .vd, .vf, .vg,
.vi, .vl, .vn, .vshi,
.vx, .vyou
{
    background-color: #ffcb99
}

.a, .ad, .ag, .al,
.an{
    background-color: #67ccaa
}

.b, .bl
{
    background-color: #67a6d9
}

.z {
    background-color: #f3e988
}

.r, .rg, .rr, .ry,
.rys, .ryt, .ryv, .rz,
.rzs, .rzt, .rzv {
    background-color: #9acccd
}

.m, .mq
{
    background-color: #986699
}

.q, .qt, .qv{
    background-color: #ff9899
}

.d {
    background-color: #ffcccb
}

.p, .pba, .pbei{
    background-color: #99cc67
}

.c, .cc
{
    background-color: #8ea4de
}

.u, .ude1, .ude2, .ude3,
.udeng, .udh, .uguo, .ule,
.ulian, .uls, .usuo, .uyy,
.uzhe, .uzhi,.uj
{
    background-color: #4dd9e6
}

.e ,.en {
    background-color: #d7acd7
}

.y {
    background-color: #f48363
}

.o {
    background-color: #f2d404
}

.h {
    background-color: #30aadd
}

.k {
    background-color: #55bfcc
}

.url, .x, .xu, .xx
{
    background-color: #96dbf8
}

.w, .wb, .wd, .wf,
.wh, .wj, .wky, .wkz,
.wm, .wn, .wp, .ws,
.wt, .ww, .wyy, .wyz
{
    background-color: #ccc
}
